@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header nav {
  border: black solid 1px;
  background-image: linear-gradient(
    to right,
    rgb(13, 13, 145),
    rgb(102, 179, 250)
  );
  height: 50px;
  display: flex;
}

nav a {
  color: rgb(230, 87, 21);
  font-size: 2rem;
  margin: 1rem;
  justify-items: center;
}

nav a:hover {
  color: white;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-size: 200;
  letter-spacing: 0.05rem;
}

a {
  text-decoration: none;
}

.container {
  min-height: calc(100vh - 50px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-title {
  font-size: 4rem;
  font-weight: 500;
  color: black;
  margin-bottom: 10px;
  margin-top: 5px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

#greetings {
  background-image: url(/background.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

#greetings h1 {
  display: block;
  width: fit-content;
  font-size: 6rem;
  position: relative;
  color: transparent;
  background-color: transparent;
  font-family: "Mukta", sans-serif;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1.5s;
}

#greetings h1:nth-child(1) {
  animation-delay: 0.8s;
}
#greetings h1:nth-child(2) {
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 1.8s;
}
#greetings h1:nth-child(3) {
  animation-delay: 2.8s;
}

.call-to-action {
  display: inline-block;
  padding: 10px 30px;
  color: red;
  border: rgb(230, 87, 21) solid 3px;
  font-size: 2rem;
  background-color: rgba(4, 80, 243, 0.7);
  letter-spacing: 0.2rem;
  transition: 0.4s;
  transition-property: background-color, color, border;
}

.call-to-action:hover {
  color: white;
  font-weight: 600;
  background-color: rgb(230, 87, 21);
  border: black solid 3px;
}

#greetings::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
}

#greetings h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  animation: text_reveal_box 1s ease;
  animation-delay: 0.5s;
  background-color: rgb(230, 87, 21);
}

#greetings h1:nth-child(1) span {
  animation-delay: 0.5s;
}
#greetings h1:nth-child(2) span {
  animation-delay: 1.5s;
}
#greetings h1:nth-child(3) span {
  animation-delay: 2.5s;
}

#projects .projects {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

#projects .projects-header h1 {
  margin-bottom: 50px;
}

#projects .all-projects {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

#projects .project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}

#projects .project-info {
  padding: 30px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(60deg, #04107c 0%, #0f5aca 100%);
  color: white;
}

#projects .project-info h1 {
  font-size: 4rem;
  font-weight: 500;
}

#projects .project-info h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 10px;
}

#projects .image-project {
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

#projects .image-project::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.6;
}

#projects .image-project img {
  transition: 1s ease transform;
}

#projects .project-item:hover .image-project img {
  transform: scale(1.1);
}

@keyframes text_reveal {
  100% {
    color: white;
  }
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal_name {
  100% {
    color: rgb(230, 87, 21);
    font-weight: 500px;
  }
}

@media only screen and (min-width: 768px) {
  #projects .project-item {
    flex-direction: row;
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }

  #projects .project-info {
    height: 100%;
  }

  #projects .image-project {
    height: 100%;
  }

  #projects .project-item:nth-child(even) {
    flex-direction: row-reverse;
  }
}
